.projectDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1B1B1B;
}

h1 {
    color:#8083FF;
    text-align: center;
    margin: inherit 80px;
}

.sideBySide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.projectInfo {
    margin: 40px 10px;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: bottom;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width: auto;
    border: 3px solid #8083FF;
    border-radius: 16px;
    color: #fff;
    background-color: #8083FF;
}


.projectInfo svg {
    width: 35px;
    padding: 10px;
    background-color: transparent;
}

.projectInfo ul {
    list-style-type: none;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    padding: 0px;
    background-color: #8083FF;
}

.projectInfo li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: #8083FF;
}

.projectDiv img {
    width: 250px;
    border-radius: 16px;
}

.projectDiv svg:hover {
    transform: scale(1.2);
}

.bounce {
    animation-name: bounce;
    animation-timing-function: linear
}

@keyframes bounce {
    0%   { transform: translate(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translate(0); }
}

.projectDiv h3 {
    font-size: 24px;
    background-color: #8083FF;
    color: #fff;
    
}

.projectDiv p {
    background-color: #8083FF;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
}

.projectLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #8083FF;
}

a {
    background-color: #8083FF;
}

.projectDiv button {
    border: 3px solid #00E5B0;
    background-color: #8083FF;
    border-radius: 16px;
    padding: 10px;
    color: #fff;
    font-family: 'Istok Web', sans-serif;
}

.projectDiv button:hover {
    color: #000;
    background-color: #00E5B0;
}

@media only screen and (min-width: 600px) {
    .projectDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        background-color: #1B1B1B;
        margin-left: 80px;
        margin-right: 80px;
    }

    .projectInfo {
        margin: 40px 10px;
        padding: 24px 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform-origin: bottom;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        width: 350px;
        border: 3px solid #8083FF;
        border-radius: 16px;
        color: #fff;
        background-color: #8083FF;
    }

}



