

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.NameImg {
    margin-left: 15px;
    margin-top: 8px;
}

.NavBar img {
    width: 60px;
    height: auto;
}



.NavBar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
}

.NavBar button {
    margin-right: 15px;
    margin-top: 8px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border: 3px solid #00E5B0;
    border-radius: 16px;
}

.NavBar a {
    background-color: #1B1B1B;
}

.NavBar button:hover {
    background-color: #00E5B0;
    color:#1B1B1B;
}

@media only screen and (min-width: 600px) {

    .NameImg {
        margin-left: 48px;
        margin-top: 8px;
    }

    .NavBar button {
        margin-right: 48px;
        margin-top: 8px;
        padding: 10px;
        font-size: 20px;
        color: #fff;
        border: 3px solid #00E5B0;
        border-radius: 16px;
    }
    
    .NavBar a {
        background-color: #1B1B1B;
    }
    
    .NavBar button:hover {
        background-color: #00E5B0;
        color:#1B1B1B;
    }

}