.sideBar {
    height: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    background: transparent;
    
}

.sideBar ul {
    align-content: center;
    align-self: center;
    list-style-type: none;
    padding: 0;
    background-color: transparent!important;
}

.sideBar li {
    background-color: transparent!important;
    padding: 50px 10px;
}

.sideBar a {
    background-color: transparent!important;
}

.sideBar svg {
    background-color: transparent;
}

.hiddenName {
    color: #fff;
   visibility: hidden;
}
@media only screen and (min-width: 600px) {
    .sideBar {
        height: 100%;
        position: fixed;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        visibility: visible;
        margin: inherit 80px;
    }
    
    .sideBar ul {
        align-content: center;
        align-self: center;
        list-style-type: none;
        padding: 0;
        background-color: transparent!important;
    }
    
    .sideBar li {
        background-color: transparent!important;
    }
    
    .sideBar img {
        width: 50px;
        height: 50px;
        margin: 50px 10px;
        background-color: transparent!important;
    }
    
    .sideBar img:hover {
        transform: scale(1.2);
    }

    .sideBar a {
        background-color: transparent !important;
    }
    
    .hiddenName {
        color: #fff;
       visibility: hidden;
    }
    .sideBar svg {
        background-color: transparent;
    }
}